.TabButtons-wrapper {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.tabItems {
    width: 25px;
}


.tabItems > img:last-child {
    margin-right: 0;
}

.TabButtons-wrapper > span {
    margin: 0 33px 0 10px;
    color: #FFFFFF;
}


/*1440px*/

@media (min-width: 1440px) {
    .TabButtons-wrapper-descTop {
        background: #EFEFFD;
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: rgba(90, 96, 231, 1);
        cursor: pointer;
        padding: 5px;
    ;
    }
    .TabButtons-span {
        color: #5A60E7;
        font-size: 16px;
        width: 130px;
        padding: 5px;
    }
}
