.Player__descTop {
    display: block;
    background: #FFFFFF;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.events-block {
    display: flex;
}
.Player__descTop-wrapper {
    padding: 50px 65px 235px 20px;
}
