.Player {
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%),
  linear-gradient(0deg, #2C2C2C, #2C2C2C);
  color: #FFF;
  font-family: Proxima Nova, serif;

  .ratio {
    margin-left: 10px;
    width: 95px;

    span {
      font-size: 20px;
      line-height: 110%;
    }

    span:last-child {
      font-size: 12px;
      padding: 1px 5px;
      background: rgba(90, 96, 231, 1);
      border-radius: 10px;
      position: relative;
      bottom: 3px;
      margin-left: 3px;
    }

    span:last-child:after {
      content: '\2191';
    }

    .playerName {
      font-size: 16px;
      font-weight: 400;
      margin-top: 20px;
    }
  }


  &__wrapper {
    padding: 20px 10px 20px 15px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    color: #ACAFF3;

    .redactingBlock {
      text-decoration-line: underline;
      font-size: 12px;
      margin-top: 20px;

      .redactingImg {
        margin-right: 9px;
      }
    }

  }
}

// width 1440 px

@media (min-width: 1440px) {
  .Player {
    border-radius: 10px;

    .ShareLinks {
      display: none;
    }
  }
}