.Ratio__wrapper {
    padding: 20px 0 370px 10px;
    background: #E5E5E5;
}

.Ratio__button {
    display: flex;
    background: #FFFFFF;
    width: 170px;
    margin-left: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button-block {
    margin: 10px 17px 10px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-block > span {
    font-size: 16px;
    line-height: 140%;
    color: #909090;
}

.Table {
    width: 100%;
    font-size: 14px;
    line-height: 110%;
    color: #222222;
    filter: drop-shadow(0px 2px 8px #E9E9E9);
    border-collapse:separate;
    border: solid #FFF 1px;
    border-radius: 6px;
}

.Table tr > th {
    color: #909090;
    font-size: 12px;
    line-height: 110%;
    cursor: pointer;
}

.Table-season {
    text-align: left;
    padding: 10px 0 5px 10px;
}

.Table tr {
    padding: 5px;
    background: #FAF9F9;
}

.Table tr > td:first-child {
    text-align: left;
    padding: 13px 0 13px 10px;
}

.Table td {
    text-align: center;
}

.Table tr:nth-child(2n) {
    background: #FFFFFF;
}
