.tab-dropDown {
    display: flex;
    flex-direction: column;
    line-height: 140%;
    color: #909090;
    background: #FFFFFF;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    width: 187px;
}
.tab-dropDown > a {
    margin: 10px 0 10px 10px;
    text-decoration: none;
    color: #909090;
    border-radius: 5px;
}

.tabInvisible {
   display: none;
}