.Footer__stores {
    display: flex;
    margin: 40px 0 35px 0;
}

.Footer__stores-img {
    width: 105px;
    height: 30px;
}

/*1440 px*/

@media (min-width: 1440px) {
    .Footer__stores-img {
        width: 140px;
        height: 40px;
    }
}