.FooterSocials {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*1440px*/

@media (min-width: 1440px) {
    .FooterSocials {
        display: block;
        width: 195px;
        margin-top: 30px;
    }
}