.Seasons {


&__wrapper {
     //padding: 10px 10px 20px 10px;
 }

.buttons {
    border: 0.5px solid #5A60E7;
    border-radius: 5px;

&__wrapper {
     display: flex;
     justify-content: space-around;
     padding: 10px 20px;
 }
}

&__buttons:first-child {
     margin-right: 25px;
 }

button {
    background: none;
    outline: none;
    color: #ACAFF3;
}
}

