.Statistic {
  background: #E5E5E5;

  &__wrapper {
    display: flex;
    padding: 15px;
  }

  .tabOnClick {
    display: block;
  }

  .tab-wrapper {

  }

  .tab-button {
    background: #5A60E7;
    border-radius: 5px;
    padding: 6px 15px;
    margin-right: 10px;
  }
}

// 1440 px

@media (min-width: 1440px) {
  .Statistic {
    display: none;
  }
}