.Statistic {
  .tab {
    display: none;
  }

  .tab-wrapper:hover .tab {
    display: block;

  }

  .tab-wrapper {

  }

  .tab-button {
    display: flex;
    background: #5A60E7;
    border-radius: 5px;
    padding: 10px 15px;
  }

  .tab-button > span {
    margin: 0 30px 0 15px;
  }

  .tab-dropDown {
    display: flex;
    flex-direction: column;
    outline: 1px solid fuchsia;
  }
}