.Footer {
  background: #222222;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 25px 50px;
  }

  &__stores > div {
    cursor: pointer;
  }

  &__stores > div:first-child {
    margin-right: 10px;
  }

  &__info div:first-child {
    margin-bottom: 5px;
  }
  .FooterDescTop {
    display: none;
  }
}

//1440 px

@media (min-width: 1440px) {
  .Footer {
    &__wrapper {
      display: none;
    }
    .FooterDescTop {
      display: block;
    }

    .FooterDescTop {
      &__wrapper {
        padding: 50px 135px 40px 20px;
      }

      &__upperBlock {
        display: flex;
      }

      &__menu {
        display: flex;
        width: 100%;
        margin-left: 175px;
        justify-content: space-between;
      }
    }
  }
}