.Footer {
  //background: #222222;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 25px 50px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__contacts > a:first-child {
    margin-bottom: 10px;
  }

  &__contacts > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 110%;
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
}