.tab-dropDown {
    display: flex;
    flex-direction: column;
    line-height: 140%;
    color: #909090;
    background: #FFFFFF;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    width: 185px;
}

.tab-dropDown > a {
    margin: 10px 0 10px 10px;
    text-decoration: none;
    color: #909090;
    border-radius: 5px;
}

.tabInvisible {
    display: none;
}


@media (min-width: 1440px) {

    .tab-dropDown > a {
        padding: 10px;
        color: #222222;
        margin: 5px 0 10px 20px;
    }


    .tab-dropDown > a:focus {
        color: #5A60E7;
        background: #EFEFFD;
        text-align: left;
    }

}