.App_wrapper {
  max-width: 320px;
  background-color: cornflowerblue;
  width: 100%;
}
@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  src: local('12093.ttf'), url("./fonts/12093.ttf") format('ttf');
}