@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    src: local('12093.ttf'), url("./fonts/12093.ttf") format('ttf');
}

.descTop-block {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*1440 px*/

@media (min-width: 1440px) {
    .descTop-block {
        display: block;
    }

    .App__wrapper {
        background: orange;
        display: none;
    }
}

.StatInfo-wrapper {
    margin-left: 50px;
}

.DescTop-wrapper {
    display: grid;
    grid-template-columns: 295px 4fr;
    background: #E5E5E5;
    padding: 20px 40px 250px 40px;
}
