// 320 px

@media (min-width: 320px) {
  .Header {

    &__wrapper {
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
    }

    &__left {
      padding: 20px 0 20px 0;
    }

    &__right {
      display: flex;
      align-items: center;

      .backPackLogo {
        padding-right: 25px;
      }

      .burgerMenu {
        cursor: pointer;

        .item {
          border: 2px solid #5A60E7;
          width: 25px;
          border-radius: 0.5px;
          margin-bottom: 7px;
        }

        .item:last-child {
          margin-bottom: 0;
          width: 13px;
        }
      }

    }
  }
  .Header__descTop-wrapper {
    display: none;
  }
}

// 1440 px

@media (min-width: 1440px) {
  .Header {

    &__wrapper {
      display: none;
    }

    &__descTop {
      background: #FAF9F9;
    }

    &__descTop-wrapper {
      display: flex;
      padding: 25px 40px;
      align-items: center;
      justify-content: space-between;
      background: #FAF9F9;
      box-shadow: 0 2px 4px #E9E9E9;
      font-size: 19px;
    }

    .descTop-logo {
      display: flex;
    }

    .descTop-logo img:first-child {
      margin-right: 20px;
    }

    .descTop-menu {
      display: flex;
      margin: 0 230px 0 160px;
    }

    .descTop-menu > a {
      margin-right: 50px;
      color: #222222;
      text-decoration: none;
      font-size: 16px;
    }

    .descTop-menu > a:hover {
      color: #ACAFF3;
    }


    .descTop-menu > div:nth-child(4n) {
      margin-right: 10px;
    }

    .descTop-dropDawn {
      margin-right: 95px;
    }

    .dropDawn__wrapper {
      display: flex;
      padding: 10px;
      background: #FFFFFF;
    }

    .dropDawn__wrapper > img:first-child {
      margin-right: 15px;
    }

    .titleName {
      width: 34px;
      height: 34px;
    }

    .DescTop-avatar {
      margin-right: 70px;
    }

    .Basket > img:last-child {

      position: relative;
      left: -10px;
      top: 2px;

    }
  }

}