.Header {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;

  &__left {
    display: flex;
    padding: 20px 0 20px 0;

    .crossBall {
      margin-left: 10px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: 110px;

    .burgerMenu {
      margin-left: 25px;
      cursor: pointer;

      .item {
        border: 2px solid #5A60E7;
        width: 25px;
        border-radius: 0.5px;
        margin-bottom: 7px;
      }
      .item:last-child {
        margin-bottom: 0;
        width: 13px;
      }
    }

  }
}
